@import './theme.scss';
@import './components/navigation/navigation.scss';

.hide {
  display: none;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-family: Verdana, Geneva, sans-serif;
  font-family: 'Times New Roman', Times, Baskerville, Georgia, serif;

  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-family: 'Times New Roman', Times, Baskerville, Georgia, serif;
  font-family: Verdana, Geneva, sans-serif;
}